@import './custom-bootstrap';

body {
  background-color: silver;
  color: black;
}



.card {
  margin: 1.15rem 0;
  //box-shadow: 6px 8px 10px black ;
  background-color: lavender;
}

.card-img-top {
  width: 100%;
  height: 200px;
}
